<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
  </head>
  <body>
  <h2>Welcome {{user.f_name}}</h2>
  <a href="/logout_view">Logout</a>
  <form class="post_secret" action="/post_secret" method="post">
    {% csrf_token %}
    <textarea name="secret" rows="6" cols="60">Your Secret Here...</textarea>
    <input type="submit" name="submit" value="Post">
  </form>
  <h2>Recent Secrets</h2>

  {% for my_secret in secrets %}
  <fieldset>
  <!-- First one is each element we're passing through, and secrets is the big list of secrets -->
    <h4>{{my_secret.secret}}</h4><br>
    {{my_secret.created_at}}
    <p>{{my_secret.num_liked}} likes</p>
      {% if my_secret.user.id == request.session.user %}
    <!-- Spaces important!! -->
      <p>You created this secret</p>
      <a href="/secrets/{{my_secret.id}}/destroy">delete</a>
      {% elif not my_secret.liked %}
    <a href="/secrets/{{my_secret.id}}/likes">Like</a>
  <!-- It's important to know which secret we're liking.
  On this secret of this given id, do like on it. -->
  <!-- My_secret is an object -->
  <!-- if you want to correlate some kind of button or function to something else, you must add the id of what you're attaching as part of link -->
      {% else %}
      <p>Liked</p>
      {% endif %}
  </fieldset>
  {% endfor %}

  </body>
</html>
